.App {
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.Content {
  width: 720px;
}

.Content-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between
}