.Repos {
  margin-bottom: 2rem;
}

.Repo {
  border-top: 1px solid #ccc;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  cursor: pointer;
}

.Repo-desc {
  flex: 5;
}

.Repo-desc-content {
  width: 80%;
}

.Repo-meta {
  display: inline-flex;
  margin-top: 1rem;
}

.Repo-meta p:not(:first-child) {
  margin-left: 1.5rem;
}

.Repo-stats {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.Repo-stat {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}

.Repo-stat .icon {
  margin-right: .25rem;
}

.Repo-stat:not(:first-child) {
  margin-left: .75rem;
}

@media only screen and (max-width: 500px) {
  .Repo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
  }

  .Repo-desc-content {
    width: 100%;
  }

  .Repo-stats {
    margin-top: .5rem;
    justify-content: flex-start;
  }

  .Repo-stat {
    font-size: 12px;
  }
}