.Commits {
  overflow-y: scroll;
  flex: 1;
}

.Commit {
  padding: 1rem;
}

.Commit:not(:first-child) {
  border-top: 1px solid #d1d2d3;
}

.Commit-message {
  font-weight: bold;
  font-family: "Bold-font" sans-serif;
  font-size: 14px;
  color: #333;
}

.Commit-stats {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: .5rem;
}

.Author-link {
  display: flex;
  align-items: center;
}

.Author-link span {
  font-weight: bold;
  margin-left: .25rem;
}

.Author-image {
  width: 20px;
}

.Commit-time {
  margin-left: .25rem;
}

.CommitPagination {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.toggle-btn {
  border: 1px solid #ccc;
  font-size: 14px;
  padding: .5rem;
  color: var(--netflix-red);
  transition: background-color .3s, color .3s;
  cursor: pointer;
}

.toggle-btn[disabled] {
  background-color: #fafbfc;
  color: #d1d2d3;
  cursor: not-allowed;
}

.toggle-btn:not([disabled]):hover {
  background-color: var(--netflix-red);
  color: #fff;
}

.toggle-btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.toggle-btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.toggle-btn:not(:first-child) {
  margin-left: -1px;
}